body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
a,a:focus,a:hover{
    text-decoration: none;
    color: inherit;
}
.header{
    border-bottom: 1px solid #222;
    padding-top: 15px;
    padding-bottom: 15px;

    .notification{
        font-weight: bold;
        color: red;
    }

    h1{
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    a{
        font-size: 18px;
        line-height: 2em;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #000;
        font-weight: bold;
    }

    .action{
        float: right;

        button{
            display: inline-block;
            width: 150px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            margin-left: 10px;
        }
    }
}


.container{
    display: block;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.products{
    display: grid;
    grid-template: auto / auto auto auto auto;
    grid-gap: 10px;
    grid-gap: 20px 50px;
    padding-top: 20px;
}
.product{
    border: 1px solid #222;
    input{
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
    }
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}

.add-product{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
}

.form-group{
    padding-top: 10px;
    padding-bottom: 10px;

    label{
        display: inline-block;
        width: 100px;
        font-weight: bold;
    }

    input{
        display: inline-block;
        height: 30px;
        width: 200px;
        padding-left: 20px;
        border: 1px solid #444;
    }
    input:focus{
        outline: none;
    }
}
.switcher{
    label{
        width: 150px;
    }
    select{
        display: inline-block;
        width: 170px;
        height: 30px;
    }
}